body {
	/* background-color: #212529; */
	/* color: white; */
	margin: 0;
	font-family: -apple-system;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.logo-w {
	color: rgba(0, 0, 0, 0.517) !important;
}
